@media(max-width: 1220px) {
    .ourPluses__items {
        flex-wrap: wrap;
        justify-content: start;
    }
    .ourPluses__item {
        max-width: 50%;
        width: 100%;
        &:nth-child(1) {
            border: none;
        }
        &:nth-child(2) {
            border: none;
        }
        &:nth-child(3) {
            border: none;
        }
        &:nth-child(4) {
            border: none;
        }
    }
    .weHave__items {
        display: flex;
        flex-flow: wrap;
    }
    .weHave__item {
        max-width: 50%;
        width: 100%;
        &:hover {
            &:nth-child(1) {
                border-top: none;
            }
            &:nth-child(2) {
                border-top: none;
            }
            &:nth-child(3) {
                border-top: none;
            }
            &:nth-child(4) {
                border-top: none;
            }
        }
    }
    .col3 {
        order: 4;
    }
    .col4 {
        order: 3;
    }
}

@media(max-width: 1185px) {
    .work .work__item {
        flex-basis: calc(33.333%);
    }
    .work__item {
        margin: 0 auto;
        max-width: 285px;
        width: 100%;
        margin-top: 5px;
    }
    .second-tabs {
        display: flex;
        flex-direction: column;
    }
    .price__items {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .price__item {
        max-width: 50%;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media(max-width: 1110px) {
    .footer__top-items {
        justify-content: start;
        flex-wrap: wrap;
    }
    .footer__top-item {
        max-width: 50%;
        width: 100%;
    }
    .footer__top-item-tags {
        max-width: 250px;
        // text-align: center;
        // margin: 0 auto;
        border: none;
    }
    .bustard-title {
        border-top: 1px solid #294453;
    }
    .footer__top-item-img {
        max-width: 250px;
        width: 100%;
    }
    .footer-first {
        padding-right: 30px;
    }
    .footer-third {
        padding-right: 30px;
    }
}

@media(max-width: 1000px) {
    .menu__btn {
        display: block;
        width: 30px;
        position: absolute;
        right: 15px;
        bottom: 51px;
        cursor: pointer;
        div {
            height: 3px;
            background-color: #fff;
            &+div {
                margin-top: 5px;
            }
        }
    }
    .header__top-menu-list {
        display: none;
        position: absolute;
        background-color: #000;
        opacity: .9;
        text-align: center;
        top: 120px;
        left: 0;
        right: 0;
        margin: 0 -15px;
        padding-bottom: 10px;
        a {
            display: block;
            padding: 7px 0;
        }
        li {
            display: block;
            &+li {
                margin-top: 0px;
                margin-left: 0;
            }
            &::after {
                bottom: -7px;
            }
        }
    }
    .search {
        right: 60px;
        .trigger {
            color: #fff;
        }
        .input-open {
            width: 200px;
        }
    }
    .service__tab-content-text {
        font-size: 12px;
    }
    .install__content-title {
        line-height: 60px;
        padding-bottom: 20px;
    }
}

@media(max-width: 840px) {
    .feature .feature__item {
        flex-basis: calc(50% - 100px);
    }
    .service__tab-content {
        // align-items: none;
        align-items: flex-start;
    }
    .service__tab-content-img {
        padding-top: 8px;
        border: none;
        // height: auto;
    }
}

@media(max-width: 690px) {
    .header__content {
        padding: 0 10px;
        &-title {
            font-size: 28px;
        }
        &-title-big {
            font-size: 50px;
            line-height: 60px;
        }
        &-text {
            font-size: 26px;
        }
    }
    .ourPluses__item {
        max-width: 100%;
        width: 100%;
    }
    .weHave__item {
        max-width: 100%;
        width: 100%;
    }
    .col3 {
        order: 3;
    }
    .col4 {
        order: 4;
    }
    .footer__top-items {
        justify-content: space-between;
    }
    .footer__top-item {
        max-width: 100%;
        width: 100%;
    }
    .footer__top-item-info {
        padding-bottom: 50px;
    }
    .footer__top-items {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .service__tab-content {
        display: block;
        &-text {
            padding: 30px 0 0;
        }
    }
    .peopleSay__wrapper {
        padding-top: 60px;
    }
}

@media(max-width: 600px) {
    .title {
        font-size: 30px;
        &::before {
            content: '';
            position: absolute;
            width: 76px;
            height: 1px;
            bottom: -34px;
            left: 45%;
            background-color: #18cfab;
        }
        &::after {
            content: '';
            position: absolute;
            width: 76px;
            height: 1px;
            bottom: -30px;
            right: 45%;
            background-color: #18cfab;
        }
    }
    .work__item {
        margin-top: 15px;
    }
    .work__inner-btn {
        // display: table-column;
        display: flex;
        flex-direction: column;
        button {
            &+button {
                margin-left: 0;
            }
        }
    }
    .price__item {
        max-width: 100%;
        width: 100%;
    }
}

@media(max-width: 545px) {
    .header__content {
        &-title {
            font-size: 24px;
        }
        &-title-big {
            font-size: 44px;
            line-height: 56px;
        }
        &-text {
            font-size: 22px;
        }
        &-button {
            button {
                padding: 15px 20px;
            }
        }
    }
    .menu__btn {
        right: 15px;
    }
    .feature__item {
        padding-bottom: 30px;
    }
    .feature .feature__item {
        flex-basis: calc(100% - 100px);
    }
    .install__content {
        padding: 0px 10px;
        &-title {
            font-size: 30px;
        }
    }
    .peopleSay__title {
        margin-bottom: 70px;
    }
}

@media(max-width: 438px) {
    .header__content {
        &-title {
            font-size: 24px;
            line-height: 40px;
        }
        &-title-big {
            padding-top: 10px;
        }
    }
    .container {
        padding: 0px 10px;
    }
    .search {
        right: 40px;
        .input-open {
            width: 260px;
        }
    }
    .menu__btn {
        right: 0px;
    }
    .install__content {
        &-title {
            font-size: 26px;
        }
        &-text {
            font-size: 14px;
        }
        &-button {
            padding-top: 30px;
            button {
                padding: 10px 10px;
            }
        }
    }
    .peopleSay__item-content-text {
        font-size: 14px;
    }
    .slick-slider .slick-dots {
        bottom: -15%;
    }
}

@media(max-width: 375px) {
    .header__content {
        &-button {
            button {
                padding: 10px 10px;
                &:last-child {
                    margin-left: 5px;
                }
            }
        }
    }
    .search {
        .input-open {
            width: 200px;
        }
    }
    .footer-first {
        padding-right: 0px;
    }
    .footer-third {
        padding-right: 0px;
    }
    .footer-fourth {
        .footer__top-item-title {
            padding-top: 50px;
        }
    }
    .footer__top-item-title {
        padding-top: 0;
    }
    .bustard-title {
        padding-top: 40px;
    }
}

@media(max-width: 360px) {
    .header__content {
        &-title {
            font-size: 24px;
            line-height: 40px;
        }
        &-title-big {
            padding-top: 10px;
            font-size: 40px;
            line-height: 50px;
        }
        &-button {
            button {
                padding: 10px 10px;
                &:last-child {
                    margin-left: 5px;
                }
            }
        }
    }
    .search {
        .input-open {
            width: 150px;
        }
    }
    .peopleSay__item-content-text {
        padding-top: 20px;
    }
    .peopleSay {
        height: 850px;
    }
}

@media(max-width: 320px) {
    .search {
        .input-open {
            width: 150px;
        }
    }
}

@media(min-width: 1001px) {
    .header__top-menu-list {
        display: block !important;
    }
}